@import "mixins/mixins";
@import "common/var";

@include b(l-app) {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all .6s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;

  @include e(main-content){
    width: 100%;
    height: 90%;
  }
}

@include b(l-app-header) {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;

  @include e(userInfo) {
    cursor: pointer;
    font-size: 1.5rem;
    color: $--ef-color-primary;
  }

  @include e(title){
    font-size: 2rem;
    color: $--ef-color-primary;
    text-align: center;
    cursor: pointer;
  }

  @include e(menu){
    color: $--ef-color-primary !important;
    cursor: pointer;
  }
}
