@import "common/var";
@import "mixins/mixins";

@include b(playPuzzle) {
  background-color: $--pp-background-color;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  & .pp-scrollbar {
    width: 90%;
    height: 80%;

    & .el-scrollbar__wrap {
      overflow-x: hidden;
    }
  }

  @include e(cells) {
    --size: 3.8rem;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(var(--row), var(--size));
    grid-template-rows: repeat(var(--column), var(--size));
    position: relative;
  }

  @include e(left) {
    flex: 2 0 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include e(middle) {
    flex: 6 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include e(right) {
    flex: 2 0 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

@include b(pp-card) {
  width: 80%;
  margin-left: 10%;
  user-select: none;
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;

  @include e(inner) {
    padding: 3rem 2rem;
    margin: 10px;
    border-radius: 10px;
    min-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $--pp-card-color;
    background-color: $--pp-card-background-color;

    @include when(active){
      background-color: $--pp-card-background-active-color;
      color: $--pp-card-background-color;
    }
  }

  @include e(definition) {
    font-size: 1.2rem;
  }

  @include e(index) {
    position: absolute;
    bottom: 1rem
  }
}

@include b(pp-cell) {
  margin: 3px;
  width: auto;
  height: auto;
  position: relative;
  user-select: none;

  @include e(inner) {
    background-color: $--pp-cell-background-color;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $--pp-cell-color;
    position: relative;
    width: 100%;
    height: 100%;

    @include when(active) {
      background-color: $--pp-cell-active-background-color;
    }

    @include when(invisible) {
      background-color: $--pp-cell-invisible-background-color;
    }
  }

  @include e(input) {
    width: 100%;
    height: 100%;

    & .el-input__inner {
      background-color: transparent;
      border: none;
      color: transparent;
      font-size: 1.5rem;
      text-shadow: 0 0 0 $--pp-cell-color;
      width: 100%;
      height: 100%;
      text-align: center;
      cursor: default;
    }

    & .el-input__inner:focus {
      background-color: $--pp-cell-focus-background-color;
    }

    & .el-input__inner::selection {
      color: $--pp-cell-color;
      background-color: transparent;
    }
  }
}

