@import "mixins/mixins";
@import "common/var";

@include b(set-learn) {
  background-color: $--app-main-background-color;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: hidden;

  @include e(inner){
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  @include e(list){
    width: 100%;
    height: 80%;

    & .el-scrollbar__wrap {
      overflow-x: hidden;
    }
  }

  @include e(fab-container){
    position: absolute;
    right: 15%;
    bottom:2rem;
  }

  @include e(fab) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    box-shadow: none !important;

    & i{
      width: 100% !important;
      height: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      vertical-align: middle;
    }
  }
}

@include b(set-learn-header) {
  width: 60%;
  margin-left: 20%;
  height: 10rem;
  background-color: #42b983;
  display: flex;
  align-items: center;
  user-select: none;
  flex-direction: column;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

@include b(l-learncard) {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 2rem;
  border-radius: 1rem;

  @include e(id) {
    font-size: 1.5rem;
    color: white;
  }

  @include e(icon) {
    color: white !important;
  }

  @include e(l-container) {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
  }

  @include e(input) {
    box-sizing: border-box;
    border: none;
    padding: 1.5rem 0rem;
    & .el-textarea__inner {
      border: none;
      font-size: 1.5rem;
      background-color: transparent;
      cursor: pointer;
      border-radius: 0px;
      padding-left: 0px;
      padding-right: 0px;
      overflow: hidden;
      color: white;
    }
    @include when(active) {
      & .el-textarea__inner {
        cursor: text;
        border-bottom: 2px solid white;
      }
    }
  }
}
