@import "mixins/mixins";
@import "common/var";

@include b(set-learn) {

}

@include b(l-learncard) {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1rem;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  position: relative;

  @include e(input) {
    box-sizing: border-box;
    border: none;
    padding: 1rem 0rem;
    & .el-textarea__inner {
      border: none;
      font-size: 1.5rem;
      background-color: transparent;
      cursor: pointer;
      border-radius: 0px;
      padding-left: 0px;
      padding-right: 0px;
      overflow: hidden;
    }
    @include when(active) {
      & .el-textarea__inner {
        cursor: text;
        border-bottom: 2px solid black;
      }
    }
  }
}
